body{
    font-family: Tahoma;
    font-size:13px;
    width:1000px;
    margin: 0px auto;
}
#menu_top{
    background:#131313;
    height:40px;
}
#menu_top ul li:hover{
    background-color:#3C9;
    height:40px;
    
}
#banner{
    height:autopx;
    width:1000px;
    
}
#main #left{
    width:700px;
    float:left;
    min-height: 400px;
   
}
#main #right{
    width:300px;
    float:right;
    min-height: 1418.67px;
    background:url(../images/anhdoc.jpg) no-repeat;
   background-position: 0px 370px;
    background-size:400px 766px;
}
#footer{
    background-color: #3C9;
    width:1000px;
    height: 30px;
    color: #fff;
    clear:left;
    line-height: 30px;
    text-align:center;
}
#menu_top ul{
    margin:0px;
    padding:0px;
}
#menu_top ul li{
    list-style:none;
    float: left;
}
#menu_top ul li a{
    text-decoration: none;
    display: block;
    height:40px;
    line-height:40px;
    color:#fff;
    padding: 0px 10px 0px 10px;
    border-right: 1px solid #ccc;
}
#menu_top ul li a.active{
    background:#1949b5;
}
#banner img {
    width:1000px;
    height:200px;
}
#main #left ul{
    margin:0px;
    padding:0px;
}
#main #left ul li{
    list-style: none;
    clear:left;
    border-bottom: 2px solid #ccc;
    float:left;
}
#main #left ul li img{
    width:160px;
    height:120px;
    float:left;
    margin:10px 10px 10px 0px
}
#main #left ul li h2{
    font-size: 16px;
    margin-top:10px;
    
    
}
#main{
    margin-top:10px;
}
#main #right .menu_right ul{
    margin:0px;
    padding:0px;
    border:1px solid #CCC;
}
#main #right .menu_right ul li{
    list-style: none;
    text-decoration: none;
}
#main #right .menu_right h3{
    background:#194d58 url(../images/home-icon.png) no-repeat;
    background-position: 5px 3px;
    height:40px;
    margin:0px 0px -2px;
    text-align:center;
    font-size:14px;
    line-height:40px;
    color:#fff;
    text-indent :-77px;
}
#main #right .menu_right ul li a{
    text-decoration: none;
    display:block;
    line-height:32px;
    border-bottom: 1px solid #ccc;
    background:url(../images/icon_check.png)  no-repeat;
    text-indent: 25px;
    background-size:20px 20px;
    background-position: 2px 7px;
    color:#878787;
    font-size:14px
}
#main #right .menu_right ul li a:hover{
    color:#ffff33;
background:#F00;
}
